<nav class="navbar bg-light">
  <div class="container-fluid d-flex flex-row-reverse">
    <a href="/" class="navbar-brand mb-0 h1"><i class="fa-regular fa-folder"></i></a>
  </div>
</nav>

<div class="container d-flex justify-content-center mt-5">
  <div class="container">
    <h2>Wellcome back, {{user.firstName}}!</h2>
  </div>

  </div>
  

