<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><i class="fa-regular fa-folder"></i></span>
  </div>
</nav>

<div class="container d-flex justify-content-center mt-5">
  <div class="container">
    <h2>Wellcome back, {{user.firstName}}!</h2>
  </div>
  <a class="btn btn-light" href="/">Back</a>
</div>

